@tailwind base;
@tailwind components;
@tailwind utilities;



$student-background: #fff;
$student-primary:#fff;
$student-secondary:#fff;
$student-text:#fff;


$prof-primary:#fff;
$prof-secondary:#fff;
$prof-background:#fff;
$prof-text:#fff;

